<footer class="item-two">
    <p>Copyright 2023 All rights reserve - Hussien-Saeed.</p>
    <!-- <div class="icons">
        <div class="contain">
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="contain">
            <i class="fa-brands fa-google"></i>
        </div>
        <div class="contain">
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="contain">
            <i class="fa-brands fa-twitter"></i>    
        </div>
    </div> -->
    </footer>