body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;  
    flex-direction: column; 
}
footer{
    margin-top: auto;
}


.container{
    width: 80%;
    margin:auto;
}